---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import Header from '../../components/Header';
import Footer from '../../components/Footer.vue';
import Social from '../../components/Social.svelte';
import HeaderTop from '../../components/HeaderTop';

export async function getStaticPaths() {
    const posts = await getCollection('tips');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Base title="AstroBuils.tips">
    <HeaderTop client:load/>
    <Header title="AstroBuils.tip"/>
    <Content/>
    <Social/>
    <Footer/>
</Base>
