---
import BaseHead from '../components/BaseHead.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
	<BaseHead title="AstroTips" description="My first Astro project" />
	<body class="h-screen">
		<slot />
	</body>
</html>
